* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #E9EBEE;;
  ;
}
.container {
  display: flex;
  width: 100vw;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  box-shadow: 0 1px 8px rgba(0,0,0,0.1);
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  cursor: pointer;
}


.nav-left img{
  width: 47px;
  height: 48px;
}

.nav-left .search-box {
  display: flex;
  width: 230px;
  height: 40px;
  border-radius: 50px;
  margin-left: 5px;
  padding: 10px 16px;
  background-color: #f0f2f5;
}

.search-box input{
  border: none !important;
  outline: none;
  background-color: #f0f2f5;
  margin-left: 5px;
  width: 100%;
}


.nav-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.nav-right img{
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-right i {
  background-color: #f0f2f5;
  justify-content: space-between;
  width: 40px;
  height:40px;
  margin-left: 8px;
  border-radius: 50%;
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
}

.nav-center{
  display: flex;
  width: 50%;
  justify-content: space-around;

}

.nav-center i{
  justify-content: space-evenly;
  width: 60px;
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
.nav-center i:hover {
  background-color: #f0f2f5;
  color: #0766ff !important;
  border-radius: 5px;
}

.nav-right i:hover {
  background-color: #c9cdd4;
  color: #0766ff !important;
}

